/* CSS definitions for <http://home.knuut.de/paul/> */


body        { background:#FFFFFF; color:#000000; }

pre,code    { font-family:monaco,courier,monospace; font-size:7pt; }

.spacer     { padding-top:0.5em; }

.spacer2    { padding-bottom:0.3em; }

.date       { font-size:smaller; }

.header     { font-family:helvetica,arial,sans-serif; }

th          { font-family:helvetica,arial,sans-serif; }

td,div      { font-family:garamond,times,serif; }

p           { font-family:garamond,times,serif; margin-left:2em; }

A:link      { color:#0033CC; background:#FFFFFF; text-decoration:none; }

A:visited   { color:#666666; background:#FFFFFF; text-decoration:none; }

A:active    { color:#990000; background:#FFFFFF; text-decoration:none; }

h1,h2,h3,h4 { font-family:helvetica,arial,sans-serif; color:#990000; background:#FFFFFF; }

h5,h6       { font-family:helvetica,arial,sans-serif; }

h2,h3       { margin-top:1em; margin-bottom:0.5em; }


/* .spacer2    { padding-top:0.75em; } */

/* margin-top:10px; margin-top:1em; margin-bottom:0.5em; */